<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxqp.oracle.apps.ar.pdft.altafitec.qplabs.schema.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="XxqpPdftQplabsHeaderEO"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.qplabs.schema.server.XxqpPdftQplabsHeaderEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxqpPdftQplabsInfoOperEO"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.qplabs.schema.server.XxqpPdftQplabsInfoOperEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxqpPdftQplabsInfoOperFkAssoc"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.qplabs.schema.server.XxqpPdftQplabsInfoOperFkAssoc"
      ObjectType="Association" >
   </Containee>
   <Containee
      Name="XxqpPdftQplabsPrecClieEO"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.qplabs.schema.server.XxqpPdftQplabsPrecClieEO"
      ObjectType="Entity" >
   </Containee>
   <Containee
      Name="XxqpPdftQplabsPrecClieFkAssoc"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.qplabs.schema.server.XxqpPdftQplabsPrecClieFkAssoc"
      ObjectType="Association" >
   </Containee>
</JboPackage>
