<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxqp.oracle.apps.ar.pdft.altafitec.mgr.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="MgrAM"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.mgr.server.MgrAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="MgrCatalogosTmpVO"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.mgr.server.MgrCatalogosTmpVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="MgrCatalogosVO"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.mgr.server.MgrCatalogosVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxqpPdftDistribucionVO"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.mgr.server.XxqpPdftDistribucionVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XxqpPdftMgrCatalogosVO"
      FullName="xxqp.oracle.apps.ar.pdft.altafitec.mgr.server.XxqpPdftMgrCatalogosVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
