<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="xxqp.oracle.apps.ar.pdft.ss.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.41.57" />
   </DesignTime>
   <Containee
      Name="EjecutivosVO"
      FullName="xxqp.oracle.apps.ar.pdft.ss.server.EjecutivosVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="FichasTecnicasVO"
      FullName="xxqp.oracle.apps.ar.pdft.ss.server.FichasTecnicasVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="SsAM"
      FullName="xxqp.oracle.apps.ar.pdft.ss.server.SsAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XxqpPdftUsuariosRoVO"
      FullName="xxqp.oracle.apps.ar.pdft.ss.server.XxqpPdftUsuariosRoVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
